#project
{
    background: transparent;
}

.projecttitle {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2px;
}

.projecttitle {
    h1 {
        font-size: 50px;
    }
    h2 {
        color: black;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    a {
        margin-top: 40px;
        font-size: 35px;
        color: green;
    }
}

section .container2 {
    /* Add styles for Container 2 */
    position: relative;
    top: 120px;
    width: 30%;
    height: 45%;
    display: block;
    padding: 100px 100px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(8px);
    
}