#about {
    background: transparent;
}

.abouttitle {
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}

.profile_img {
    position: relative;
    border-radius: 1rem;
    width: 20rem; 
    height: 23rem; 
    margin-top: 10px; 
}

.abouttitle h1 {
    font-size: 2rem;
    margin-top: 10%;

}

.des {
    position: absolute;
    margin-top: -120%;
    font-size: 18px;
    text-align: justify;
    margin-left: 110%;
    width: 23rem;
}

section .container3 {
    position: relative;
    top: 10%;
    width: 40%;
    height: 35rem;
    display: block;
    padding: 5px 25px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(4rem);
}

.download-btn {
    position: relative;
    display: inline-block ;
    margin-top: 30rem;
    margin-left: 3rem;
    padding: 0.55rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0ad0f3;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #FF9702;
}


/* Media query for smaller screens */
@media screen and (max-width: 425px) {
    .profile_img {
        width: 17rem; /* 240px */
        height: 15rem; /* 288px */
        margin-left: 7%;
    }

    .abouttitle h1 {
        font-size: 1.5rem; /* 40px */
        color: white;
        margin-left: 5%;
    }

    .des {
        position: fixed;
        margin-left: 8%;
        margin-top: 3.5rem;
        font-size: 13px; /* 16px */
        width: 70%; /* Make width responsive */
    }

    section .container3 {
        width: 95%; /* Reduce width on smaller screens */
        height: 95%;
        padding-bottom: 5rem; /* 64px */
        top: 1px; /* 112px */
    }
    .download-btn {
        margin-top: 104%;
        align-items: center;
        margin-left: 15%;

    }
}

/* Media query for very small screens */
@media screen and (max-width: 320px) {
    .profile_img {
        width: 12.5rem; /* 192px */
        height: 12rem; /* 240px */
        margin-left: 0.11%;
    }

    .abouttitle h1 {
        font-size: 2rem; /* 32px */
    }

    .des {
        font-size: 11px; /* 14.4px */
        margin-left: 1%;
        width: 70%; /* Full width for smaller screens */
        margin-top: 4rem; /* 32px */
    }

    section .container3 {
        width: 90%; /* Full width for smaller screens */
        padding: 2rem; /* 48px */
        top: 1.5rem; /* 80px */
    }
    .download-btn {
        margin-top: 125%;
        margin-left: 0;
    }
}
