#about {
    background: transparent;
}

.abouttitle {
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}

.profile_img {
    position: relative;
    border-radius: 1rem;
    width: 20rem; 
    height: 23rem; 
    margin-top: 10px; 
}

.abouttitle h1 {
    font-size: 2rem;
    margin-top: 10%;

}

.des {
    position: fixed;
    font-size: 15px;
    text-align: justify;
    margin-left: 45%;
    width: 20rem;
    margin-top: -50%;
}

section .container3 {
    position: relative;
    top: 10%;
    width: 40%;
    height: 35rem;
    display: block;
    padding: 5px 25px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(4rem);
}

.download-btn {
    position: relative;
    display: inline-block ;
    margin-top: 30rem;
    margin-left: 3rem;
    padding: 0.55rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0ad0f3;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #FF9702;
}


/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    .profile_img {
        width: 20rem; /* 240px */
        height: 15rem; /* 288px */
        margin-left: 3rem;
    }

    .abouttitle h1 {
        font-size: 1rem; /* 40px */
        color: white;
        margin-left: 20%;
    }

    .des {
        font-size: 5px; /* 16px */
        padding-right: 15%;
        width: 80%; /* Make width responsive */
    }

    section .container3 {
        width: 95%; /* Reduce width on smaller screens */
        height: 90%;
        padding-bottom: 5rem; /* 64px */
        top: 1px; /* 112px */
    }
    .download-btn {
        margin-top: 105%;
        align-items: center;

    }
}

/* Media query for very small screens */
@media screen and (max-width: 480px) {
    .profile_img {
        width: 12rem; /* 192px */
        height: 15rem; /* 240px */
    }

    .abouttitle h1 {
        font-size: 2rem; /* 32px */
    }

    .des {
        font-size: 0.9rem; /* 14.4px */
        margin-left: 2%;
        width: 90%; /* Full width for smaller screens */
        margin-top: 2rem; /* 32px */
    }

    section .container3 {
        width: 90%; /* Full width for smaller screens */
        padding: 3rem; /* 48px */
        top: 5rem; /* 80px */
    }
}
