#DAS {
    text-align: center;
    font-size: 3rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
    color: rgb(0, 0, 0);
}

.excelsheet {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    height: 52rem;
    width: 118rem;
    margin-top: 0;
    border: 2px solid rgb(255, 255, 255);
    
}