
.excelsheet {
    position: relative;
    padding: 1px;
    box-sizing: border-box;
    height: 55rem;
    width: 50rem;
    margin-top: 4%;
    border: 2px solid rgb(255, 255, 255);
    
}
@media screen and (max-width: 768px) {
    .excelsheet {
        width: 45rem; /* Full width on mobile */
        height: 45rem; /* Further reduce height */
        margin-top: 7rem; /* Reduce margin on top */
        margin-left: 1rem;
    }
}
/* Media query for mobile screens */
@media screen and (max-width: 425px) {
    .excelsheet {
        width: 95%; /* Full width on mobile */
        height: 50rem; /* Further reduce height */
        margin-top: 1rem; /* Reduce margin on top */
        margin-left: 1rem;
    }
}
/* Media query for smaller screens */
@media screen and (max-width: 320px) {
    .excelsheet {
        width: 18rem; /* Use percentage to make it fluid */
        height: 45rem; /* Adjust height for smaller screens */
        margin-top: 1rem; /* Reduce margin on top */
        
    }
}

