#contact
{
    background: transparent;
}

.contact-info {
    text-align: center;
}

.contact-info h1 {
    font-size: 35px;
    font-weight: 1000;
    color: white;
}

.contact-info p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    color: white;
}

.contact-info li {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container5 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1rem;
  }
  
  .contact_img {
    border-radius: 1rem;
  }
  /* Create two columns that float next to eachother */
  .column {
    color: white;
    float: left;
    width: 50%;
    margin-top: 5%;
    padding: 1.5rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
section .container5 {
    /* Add styles for Container 5 */
    position: relative;
    top: 10%;
    width: auto;
    height: 125%;
    display: block;
    padding: 100px 100px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(4rem);
    
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column, input[type=submit] {
    width: 110%;
    margin-top: 0;
  }
}