#contact
{
    background: transparent;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container5 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1rem;
  }
  
  .contact_img {
    border-radius: 1rem;
  }
  /* Create two columns that float next to eachother */
  .column {
    color: white;
    float: left;
    width: 50%;
    margin-top: 5%;
    padding: 1.5rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
section .container5 {
    /* Add styles for Container 5 */
    position: relative;
    top: 10%;
    width: 50%;
    height: 80%;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(4rem);
    
}

h2 {
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .contact_img {
      width: 30rem;
      height: 4rem;
      margin-left: 1rem;
      
  }

  section .container5 {
      top: 7rem;
      width: 95%; /* Full width on mobile */
      height: 45rem;
      padding: 1px 1px;
  }

  h2 {
    color: white;
  }
  .column {
    margin-left: 1rem;
    margin-top: -1rem;
    width: 17rem;
    height: 5rem;
  }
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 425px) {
  .column, input[type=submit] {
    width: 90%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .contact_img {
      width: 30rem;
      height: 4rem;
      margin-left: 0.5rem;
      
  }

  section .container5 {
      top: 1rem;
      width: 95%; /* Full width on mobile */
      height: 50rem;
      padding: 1px 1px;
  }

  h2 {
    color: white;
    font-size: 1.5rem;
  }
  .column {
    margin-left: 3rem;
    margin-top: -1rem;
    width: 17rem;
    height: 5rem;
  }
}

@media screen and (max-width: 320px) {
  .contact_img {
      width: 30rem;
      height: 4rem;
      margin-left: 1rem;
      
  }

  section .container5 {
      top: 1rem;
      width: 95%; /* Full width on mobile */
      height: 50rem;
      padding: 1px 1px;
  }

  h2 {
    color: white;
  }
  .column {
    margin-left: 1rem;
    margin-top: -1rem;
    width: 17rem;
    height: 5rem;
  }
}