#project
{
    background: transparent;
}

.projecttitle {
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 5px;
}

.projecttitle {
    h1 {
        font-size: 30px;
    }
    h2 {
        color: black;
        margin-top: 2%;
        margin-bottom: 8%;
    }
    a {
        margin-top: 10%;
        font-size: 25px;
        color: green;
    }
}

section .container2 {
    /* Add styles for Container 2 */
    position: relative;
    top: 8rem;
    width: auto;
    height: 24rem;
    display: block;
    padding: 50px 100px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    background:transparent;
    backdrop-filter: blur(4rem);
    
}
